/* Link google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Style body */
body{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif; 
}
nav{
    background: rgb(26, 26, 129);
    padding: 15px;
}

nav,.friend-post,.container,.manu,.search,.profile-pic{
    display: flex;
}
nav{
    justify-content: space-around;
}
.friend-post a{
    background: #eee;
    padding: 10px;
    margin: 0 30px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-style: normal;
}
.friend-post a:hover{
    color: red;
}
.friend-post li,.manu li{
    list-style: none;
}

.logo{
    font-size: large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.manu a{
    font-style: normal;
    text-decoration: none;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    margin-top: 15px;
    border-radius: 0 40px 40px 0;
}
.manu a:hover{
    background: #eee;
}
.manu,.search{
    justify-content: center;
}
.search input{
    padding: 15px;
    margin: 10px 10px;
    width: 80%;
    border: none;
    background: #eee;
}

.sidebare{
    width: 40%;
}

.main{
    overflow: scroll;
    height: 90vh;
    width: 90%;
}

.main .card{
    
    padding: 30px;
    width: 50%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.like-cmt{
    width: 50%;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.like-cmt input[type="text"]{
    width: 80%;
    border: none;
    background: #eee;
    padding: 10px;

}

.like-cmt input[type="submit"]{
    padding: 5px;
    background: rgb(26, 26, 129);
    color: white;
    border: none;
    cursor: pointer;
}


.main .card .card-body img{
    margin: auto;
    width:90%;
    border-radius: 20px;
    
}

.card-body p{
    text-align: center;
}

.image-post{
    display: flex;
    justify-content: center;
}

.main .card .function{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.image-friend img{
    width: 10%;
    border-radius: 90px;
    margin: 5px;
}
.image-friend {
    display: flex;
    width: 80%;
}
.card-friend{
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 10px;
}

.delete-edit-commenter{
    display: flex;
    justify-content: space-around;
}
.delete-edit-commenter a{
    margin: 0 5px;
}

.add,.remove{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-content{
    padding: 5px;
}
.add a,.remove a{
    text-decoration: none;
    font-style: normal;
    background: rgb(26, 26, 129);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.remove a{
    background: red;
}
.function a{
    text-decoration: none;
    font-style: normal;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.like a{
    color: black;
    margin:0 10px;
}
.like,.function{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.footer-card{
    display: flex;
    justify-content: space-around;
}

.form-comment form{
    width: 100%;
    margin: 0;
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
}

.image-user{
    display: flex;
    background: #eee;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
}
.user img{
    width: 70%;
    border-radius: 50px;
}
.user {
    width: 20%;
}

.like{
    cursor: pointer;
}
.manu{
    width: 100%;
}
.active{
    background: #eee;
}
h1{
   color: black; 
}

.profile-user img{
    width: 15%;
    border-radius: 70px;
    border: 10px solid #eee;
}
.profile-user{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.description textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #eee;
    resize: none;
    height: 90px;
    font-family: 'Poppins', sans-serif;
}


hr{
    border: 1px solid black;
}
.profile-pic img{
    width: 15%;
    border-radius: 50px;
    margin-right: 10px;
}

.profile-user-comment img{
    width: 60%;
    border-radius: 40px;
    margin-right: 5px;
}
.profile-comment{
    margin-top: 5px;
}

.profile-user-comment{
    width: 25%;
    display: flex;
    justify-content: center;

}
.profile-comment{
    display: flex;
}

.comment-content{
    width: 50%;
    margin: auto;
    background: #eee;
}

.profile-pic{
    background: #eee;
    padding: 10px;
    border-radius: 50px;
}

.post input{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background: rgb(26, 26, 129);
    border: none;
    border-radius: 10px;
    color: white;
}
